
TCG/.vs/TCG/v16/Browse.VC.db
TCG/.vs/TCG/v16/Browse.VC.db-shm
TCG/.vs/TCG/v16/Browse.VC.db-wal
TCG/.vs/TCG/v16/Browse.VC.opendb
TCG/.vs/TCG/v16/ipch/AutoPCH/977a53be881a39b1/DECK.ipch
TCG/.vs/TCG/v16/.suo
TCG/.vs/TCG/v16/ipch/AutoPCH/833b7d02695299ef/CARD.ipch
TCG/TCG/TCG.vcxproj
TCG/TCG/TCG.vcxproj.filters
